<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <!-- overwritting these args -->
  <arg name="gui" default="true" />
  <!-- <arg name="gui" default="false" /> -->
  
  <arg name="world" default="$(find simulations)/worlds/test.world" />

  <!-- include gazebo_ros launcher -->
  <remap from="/agv_car/cmd_vel" to="cmd_vel"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world)"/> 
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="physics" value="ode"/>
  </include>

	<node name="map_server" pkg="map_server" type="map_server" args="$(find simulations)/maps/maze.yaml">
    <param name="frame_id" value="/map"/>
	</node>

  <!-- spawn agv -->
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_agv"  args="-file $(find simulations)/models/agv/model.sdf -sdf -x 0 -y 0 -z 0 -model agv" />
  <node pkg="tf" type="static_transform_publisher" name="map_to_odom" 
    args="0 0 0 0 0 0  map /agv_car/odom 100"/>
  <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_laser_broadcaster" 
    args="0.29 0 0.285 0 0 0 /agv_car/base_footprint laser 100"/>
  <include file="$(find simulations)/launch/apriltag.launch" ></include>


  <include file="$(find simulations)/launch/ds4.launch" ></include>

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find simulations)/rviz/config.rviz" />

  <!-- <node name="front_cam_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/camera_front/image_raw" />
  </node> -->

  <!-- <node name="back_cam_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/usb_cam/image_raw" />
  </node> -->


</launch>