<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <!-- overwritting these args -->
  <arg name="debug" default="false" />
  <arg name="gui" default="true" />
  <arg name="paused" default="false" />
  <arg name="recording" default="false" />
  <arg name="world" default="$(find my_simulations)/worlds/empty.world" />
  <arg name="physics" default="ode"/>

  <!-- include gazebo_ros launcher -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world)"/> 
    <arg name="recording" value="$(arg recording)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="physics" value="$(arg physics)"/>
  </include>
  

  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <param name="joint_state_publisher" value=""/>
    <param name="use_gui" value="False"/>
  </node> -->
  <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <param name="robot_description" textfile="$(find my_simulations)/models/amr_car/model.sdf" />
  </node> -->
  
</launch>